.card {
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor1);
    color: var(--textcolor1);;
    overflow: hidden;
    position: relative;
    box-shadow: 1em 1em 2em 0 rgba(0,0,0,0.2);
    transition: all 300ms ease-in-out;
    border-radius: .5em;
}

.card:hover {
    box-shadow: 2em 2em 2em 0 rgba(0,0,0,0.3);
}

.card:hover > .icon {
    display: block;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2em .2em 0 0;
    transition: all 300ms ease-in-out;
}

.card:hover > img{
    transform: scale(1.2);
    transform-origin: center;
}

.card:hover > .card_content > h4 {
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

.card > .card_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: ;
    color: var(--textcolor1);
    padding: 1em 1em;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    background: linear-gradient(transparent, var(--halftrans));
    transition: all 300ms ease-in-out;
}

.card > .card_content >  h4 {
    word-break:keep-all
}

.card > .card_content >  span {
    font-weight: bold;
}

.green_rating {
    color:greenyellow;
}

.yellow_rating {
    color: yellow
}

.red_rating {
    color: red;
}


.icon {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  object-fit: cover;
  display: none;
  background: linear-gradient(transparent, #ccc);
}

.icon:hover {
  background-color: "navy";
  cursor: pointer;
}

.display_block {
    display: block;
}

.display_none {
    display: none;
}