* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--bgcolor2);
}
:root {
    --bgcolor1: #1e1f2b;
    --bgcolor2: #282838;
    --textcolor1:#F0ece2;
    --textcolor2: #8377D1;
    --color5: #181825;
    --halftrans: rgba(45,50,58, .9);
}